include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center 
            .col-2
                .inner-logo 
                    a(href="/")
                        img(src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2016/08/lacoste.png?auto=format&q=60&fit=max&w=930", alt="oke")
            .col-3
                form(
                    action="/search",
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập Từ Khóa ..."
                            class="form-control"
                            name="keyword"
                            id="keyword"
                            value=keyword
                        )
                        button(
                            class="btn btn-primary"
                            type="submit"
                        ) Tìm

            .col-7
                .inner-menu 
                    ul 
                        li  
                            a(href="/") Trang chủ 
                        li(class="sub-menu") 
                            - const pathProduct = "/product"
                            a(href=pathProduct) Sản Phẩm  
                            if(layoutCategoryProduct)
                                +sub-menu(layoutCategoryProduct,"/product")   
                        li  
                            a(href="/likeProduct") Sản Phẩm Yêu Thích 
                        li  
                            a(href="/cart") Giỏ Hàng (#{minicart.totalQuantity})  
                        if(user.fullName)  
                            li  
                                a(href="/user/logout") Đăng Xuất
                        else         
                            li  
                                a(href="/user/loign") Đăng Nhập 
                        
                        