extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    h1(class="mb-4") Phân Quyền

    div(class="text-right")
        button(
            type="submit",
            class="btn btn-primary mb-3"
            button-submit

        ) Cập Nhật
    div(data-records=records)

    table(class="table table-hover table-sm"
        table-permission)
        thead 
            tr 
                th Tính Năng
                each item in  records
                    th(class="text-center" ) #{item.title}
                   

        tbody 
            tr(data-name="id" class="d-none")
                td 
                each item in  records
                    td(class="text-center")
                        input(type="text" value=item.id) 
            tr 
                td(colspan="4")
                    b Danh Mục Sản Phẩm 
            tr(data-name="products-category_view")
                td Xem
                each item in  records
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products-category_create")
                td Thêm Mới
                each item in  records
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products-category_edit")
                td Chỉnh Sửa
                each item in  records
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products-category_delete")
                td Xóa
                each item in  records
                    td(class="text-center")
                        input(type="checkbox")

    form(action=`/${prefix}/roles/permission?_method=PATCH`
    class="d-none"
        method="post"
        id="form-change-permission") 
        div(class="form-group")
            input(type="text"
            class="form-control"
            name="permission")
            
    script(src="/admin/js/roles.js")          