extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(2000)
    .product-detail
        .container.my-5
            .row   
                .col-6 
                    .inner-thumb 
                        img(src=product.thumbnail, alt=product.title)
                .col-6 
                    if product.title
                        h1.inner-title #{product.title}

                    if product.price
                        div.inner-price-old Giá: <span>#{product.price}₫</span>

                    if product.discountPercentage
                        div.inner-percent Giảm giá: <span>#{product.discountPercentage}%</span>

                    if product.stock
                        div.inner-stock Còn lại: <span>#{product.stock}</span>

                    form(action=`/cart/add/${product.id}`, method="post")
                        input.form-control.mb-2(
                            type="number",
                            name="quantity", 
                            value="1",
                            min="1",
                            max=product.stock
                        )
                        button.btn.btn-success.btn-block(type="submit") Thêm vào giỏ hàng 
                    
            hr
            .container.my-5
                .row 
                    .col-12
                        h1 Mô tả sản phẩm
                        if product.description
                            div.inner-desc #{product.description}
