extends ../../layouts/default
include ../../mixins/alert

block main 
    +alert-success(2000)
    +alert-error(2000)

    .controller.my-3 
        .row.justify-content-center 
            .col-8 
                h1(class="text-center") Lấy Lại Mật Khẩu
                form(action="/user/password/forgot"
                    method="POST")
                    div(class="form-group")
                        label(for="email") Email 
                        input(type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="<EMAIL>"
                            required)
                    div(class="form-group") 
                        button(
                            class="btn btn-primary btn-block"
                            type="submit") Gửi Email Xác Nhận



